{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{.title}}</h1>
            <a href="/">Home</a>
        </div>
    </div>
</div>
{{end}}
