{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="text-align: center">Home page!</h1>
            <img src="/ui/static/images/1.jpeg" alt="tree">
        </div>
    </div>
</div>
{{end}}
