{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="main-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/ui/static/images/1.jpeg" class="d-block w-100" alt="1">
                    </div>
                    <div class="carousel-item">
                        <img src="/ui/static/images/2.jpeg" class="d-block w-100" alt="2">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-center">
                <a class="btn btn-success" href="/reservation">Book</a>
            </div>
        </div>
    </div>
</div>
{{end}}
