{{template "base" .}}

{{define "title"}}Reservation{{end}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <form>
                    <div class="mb-3">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city" aria-describedby="city-help">
                        <div id="city-help" class="form-text">You should provide city name.</div>
                    </div>
                    <div class="mb-3">
                        <label for="home-number" class="form-label">Home Number</label>
                        <input type="number" class="form-control" id="home-number">
                    </div>
                    <div class="mb-3">
                        <label for="date-from" class="form-label">Date From</label>
                        <input type="date" class="form-control" id="date-from">
                    </div>
                    <div class="mb-3">
                        <label for="date-to" class="form-label">Date To</label>
                        <input type="date" class="form-control" id="date-to">
                    </div>
                    <button type="submit" class="btn btn-primary">Reserve</button>
                </form>
            </div>
        </div>
    </div>
{{end}}
